/* 'Open Sans' font from Google Fonts */
.login {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  font-size: 16px;
  color:white;
}

.form{
  width: 50%;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    background: #28d;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}