.create{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color:black;
  background-color: rgb(241, 240, 240);
}

.form{
    width: 30%;
}

#decision-button-1{
    width: 48%;
}

#decision-button-2{
    width: 48%;
}


.first-button{
    margin-right: 4%;
}

.error{
    color: red;
    font-size: 0.75em;
  }