.panel{
    background-color: rgb(241, 240, 240);
    color: black;
    margin: auto;
}

.navbar{
    width: 100%;
    padding-left: 27%;
    padding-right: 25%;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.tutto-modifica{
    text-align: center;
}

.cambia-immagine{
    border-radius: 5px;
    border-color: transparent;
}

.foto{
    border-radius: 100%;
    height: 150px;
    width: 150px;
}

.form-group{
    margin-left: 30%;
    margin-right: 30%;
}