<h3 style=" text-align: center; width: 400px; margin: auto; font-size: 24px;">Recupera Password</h3>
<div style="margin-top: 2em; width: 400px; margin: auto; font-size: 16px;">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
    </div>

    <button type="submit" class="btn btn-success">Conferma</button>
    <button type="button" routerLink="/login" routerLinkActive="active" class="btn btn-danger" style="margin-left:5px;">Indietro</button>
  </form>
</div>